{% extends "base.html" %}   
    
{% block content %}
    <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
      </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    
    

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"></div>
               
            </div>
           

            <table border="1" class="table table-striped">
                <thead><tr><th>Owner</th><th>Location</th><th>Plot Number</th><th>Area</th><th>Print</th></tr></thead>
                <tbody>
                    {% for users in data %}
                    <tr><td>{{users[0].user_name}}</td><td>{{users[1].location}}</td><td>{{users[1].plot_number}}</td><td>{{users[1].area}}</td><td><span class="btn btn-info"><a href="print-title/{{users[1].id}}">Title Deed</a> </span>&nbsp;&nbsp;<span class="btn btn-success" ><a href="sale" style="color:white">Sale</a> </span></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>


  {% endblock %}